TCPServer/.vs/TCPServer/FileContentIndex/3c45fb7e-1068-4cb3-a215-6bf684cd8b6a.vsidx
TCPServer/TCPServer/TCPServer.vcxproj.user
TCPServer/TCPServer/TCPServer.vcxproj.filters
TCPServer/TCPServer/TCPServer.vcxproj
TCPServer/.vs/TCPServer/FileContentIndex/d83b12ba-36b9-4170-84dc-74faa04b0786.vsidx
TCPServer/.vs/TCPServer/FileContentIndex/ff449cc6-03d4-459b-a7d6-09135ca175bb.vsidx
TCPServer/.vs/TCPServer/v17/Browse.VC.db
TCPServer/.vs/TCPServer/v17/Browse.VC.db-shm
TCPServer/.vs/TCPServer/v17/Browse.VC.db-wal
TCPServer/.vs/TCPServer/v17/Browse.VC.opendb
TCPServer/.vs/TCPServer/v17/ipch/AutoPCH/fbb30c662b14761a/MAIN.ipch
TCPServer/.vs/TCPServer/FileContentIndex/7ea0d60a-e77c-48f3-9f7d-60c768322872.vsidx
TCPServer/.vs/TCPServer/FileContentIndex/51fc4502-b529-436e-8895-3b668455bc8d.vsidx
/TCPServer/.vs/TCPServer/FileContentIndex
